* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}
body { 
    width: 100%;
    height: 100%;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.87);
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    z-index: 100;
}

.isHidden {
    display: none;
}

.containImage {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.content{
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.closeModalBtn {
    position: absolute;
    top: -10%;
    right: -10%;
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.openModal{
    background-color: transparent;
    padding: 20px;
    border: 1px solid black;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    cursor: pointer;
}